/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 1.2vw;
}

/* Navbar Styles */
.navbar {
    background-color: #ffe100;
    padding: 1vw 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2vw;
}

.navbar img {
    width: 100%;
    max-width: 10vw;
    height: auto;
}

nav a {
    text-decoration: none;
    color: black;
    margin: 0 1vw;
    font-size: 1.1vw;
}

/* Main Content Styles */
main {
    display: flex;
    justify-content: center;
    padding: 2vw;
    font-size: 1.2vw;
}

/* Management-specific Styles */
.trip-info h2 {
    color: #000000;
    padding: 1vw 0vw;
    width: 100%; /* Adjust as needed */
    margin-right: 50vw; 
    
}

.upcoming-trip {
    text-decoration: none;  /* Remove underline from links */
    display: flex; /* Uses Flexbox to lay out children in a row */
    justify-content: space-between; /* Space out items if needed */
    align-items: center; /* Align items vertically in the center */
    background-color: #eee; /* Background color for visibility */
    padding: 1vw; /* Padding for aesthetics */
    margin: 2vw 0; /* Margin for spacing around element */
    color: black;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: box shadow for styling */
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
}

.trip-history a {
    background-color: #eee;
    margin: 2vw 0;
    padding: 1vw;
    display: block;
    box-shadow: 0 0.2vw 0.5vw rgba(0,0,0,0.1);
    text-decoration: none;  /* Remove underline from links */
    color: black; /* Ensure text color is black */
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
}

.trip-details {
    display: flex;
    flex-direction: column; /* Stack the price and rating vertically */
    align-items: flex-end; /* Align the items to the right */
}
.upcoming-trip:hover, .trip-history a:hover {
    background-color: #ddd; /* Change background on hover */
}

.upcoming-trip span {
    margin-top: 2vw;
    margin-left: 15vw;
    font-size: 2vw;
    margin-bottom: 2vw;
}

.upcoming-trip span:last-child {
    margin-right: 4vw; /* No right margin on the last item */
    margin-top: -vw;
}

.trip span {
    display: block;
    margin-bottom: 0.5vw;
}

.trip-description {
    margin-top: 2vw;
    margin-left: 15vw;
    font-size: 2vw;
}

.trip-details span {
    font-size: 2vw;
    margin-right: 4vw;
    margin-top: -3vw;
}

.rating-image {
    width: 10vw; /* Set a fixed width for the rating image */
    height: auto; /* Maintain aspect ratio of the image */
    margin-right: 4vw;
}

.trip span:last-child, .upcoming-trip span:last-child {
    margin-bottom: 0;
}

/* Footer Styles */
footer {
    background-color: #000000;
    color: white;
    padding: 2vw 0;
    font-size: 1.2vw;
}

.footer-content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.social-links {
    margin-bottom: 2vw;
}

.social-links a {
    margin: 0 1vw;
}

.social-links img {
    width: 1.5vw;
    height: 1.5vw;
}

.footer-links a, .legal-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1vw;
}

.footer-links a:hover, .legal-links a:hover {
    text-decoration: underline;
}

.legal-links {
    margin-top: 1vw;
    font-size: 1vw;
}

.copyright {
    margin-top: 1vw;
    font-size: 1vw;
}

/* Responsive Design for smaller screens */
@media (max-width: 60vw) {
    .footer-content {
        width: 95%;
    }
    footer {
        font-size: 3vw;
    }
    .social-links img {
        width: 4vw;
        height: 4vw;
    }
}
